# Ignorar entornos virtuales
venv/

# Ignorar archivos subidos por el usuario
uploads/

# Ignorar archivos procesados
processed/

# Archivos y carpetas comunes a ignorar
*.pyc
__pycache__/
.DS_Store
.env
.idea/
.vscode/
